.container { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    background-color: rgb(15, 15, 15);
    padding: 90px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
}



.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.title label{
    text-shadow: 0 1px 1px black, 0 0 8px blueviolet;
}

.button-send{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px;
}